@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

/*************************************************************
******************* Glowing Checbox Button *******************
*************************************************************/



/*************************************************************
******************* Custom Checkbox List *******************
*************************************************************/

ul {
  background: hsl(243, 20%, 29%);
  padding: 5px 20px;
  border: 1px solid hsl(0, 0%, 10%);
  border-radius: 5px;
  width: 250px;
}

ul li {
  position: relative;
  padding: 10px 0;
  list-style: none;
  cursor: pointer;
  border-bottom: 1px solid hsl(0, 0%, 10%);
}

ul li:last-child {
  border-bottom: none;
}

ul li label {
  cursor: pointer;
  text-transform: capitalize;
  color: hsl(0, 100%, 100%);
  font-size: 18px;
  padding-left: 25px;
}

ul li label input {
  opacity: 0;
  cursor: pointer;
}

ul li label .check {
  position: absolute;
  top: 10px;
  left: 0;
  background: hsl(0, 0%, 0%);
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

ul li label .check::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border-radius: 2px;
  background: hsl(0, 0%, 10%);
  transform: translateX(180px);
  transition: .3s;
}

ul li label input:checked ~ .check::before {
  background: hsl(109, 85%, 54%);
  box-shadow: 0 0 15px hsl(109, 85%, 54%);
  transform: translateX(0);
}

/*************************************************************
***************** Flipping Card Hover Effect *****************
*************************************************************/

.card {
  transform-style: preserve-3d;
  perspective: 600px;
  transition: .5s;
  width: 300px;
  height: 300px;
}

.card .front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(0, 0%, 0%);
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: .5s;
}

.card:hover .front {
  transform: rotateX(-180deg);
}

.card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(0, 0%, 0%);
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: .5s;
}

.card .back::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 100%, 0.1);
}

.card:hover .back {
  transform: rotateX(0deg);
}

.card .back .details {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.card .back .details h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: hsl(0, 0%, 100%);
}

.card .back .details span {
  font-size: 16px;
  color: hsl(0, 0%, 76%)
}

.social-icons {
  padding: 10px 0;
}

.social-icons a {
  display: inline-block;
  width: 36px;
  height: 36px;
  text-align: center;
  background: hsl(234, 6%, 68%);
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  border-radius: 50%;
  transition: .5s;
}

.social-icons a .fa {
  line-height: 36px;
}

.social-icons a:hover {
  background: hsl(133, 100%, 50%);
}









































