* {
  margin: 0;
  padding: 0;
}

body {
  background: hsl(196, 100%, 2%);
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/*************************************************************
******************* Glowing Checbox Button *******************
*************************************************************/

.glowing {
  position: relative;
  width: 120px;
  height: 40px;
  cursor: pointer;
  -webkit-appearance: none;
  background: linear-gradient(0deg, hsl(0, 0%, 20%), hsl(0, 0%, 0%));
  border-radius: 20px;
  outline: none;
  box-shadow: 0 0 0 4px hsl(0, 0%, 20%), 0 0 0 5px hsl(0, 0%, 15%);
}
















/*************************************************************
******************* Custom Checkbox List *******************
*************************************************************/

ul {
  margin: 0;
  padding: 10px 20px;
  background: hsl(199, 100%, 6%);
  width: 200px;
  border: 1px solid hsla(0, 0%, 0%, .5);
}

ul li {
  list-style: none;
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid hsla(0, 0%, 0%, .2);
}

ul li:last-child {
  border-bottom: none;
}

ul li label {
  font-size: 18px;
  color: hsl(0, 0%, 100%);
  padding-left: 30px;
  cursor: pointer;
}

ul li label input {
  opacity: 0;
  cursor: pointer;
}

ul li label .check {
  position: absolute;
  top: 10px;
  left: 0;
  width: 20px;
  height: 20px;
  background: hsl(0, 0%, 0%);
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
}

ul li label .check:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: hsl(201, 100%, 3%);
  border-radius: 2px;
  transition: .5s;
  transform: translateX(185px);
}

ul li label input:checked ~ .check:before {
  background: hsl(79, 100%, 50%);
  box-shadow: 0 0 15px hsl(79, 100%, 50%);
  transform: translateX(0);

}









/*
.glowing {
  position: relative;
  width: 120px;
  height: 40px;
  -webkit-appearance: none;
  background: linear-gradient(0deg, hsl(0, 0%, 20%), hsl(0, 0%, 0%));
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 0 4px hsl(0, 0%, 21%), 0 0 0 5px hsl(0, 0%, 24%), inset 0 0 10px hsla(0,0%,0%,1), 0 5px 20px hsla(0,0%,0%,0.5), inset 0 0 15px hsla(0,0%,0%,.2);
}

.glowing:checked {
  background: linear-gradient(0deg, hsl(112, 100%, 50%), hsl(112, 100%, 20%));
  box-shadow: 0 0 2px hsl(112, 100%, 50%), 0 0 0 4px hsl(0, 0%, 21%), 0 0 0 5px hsl(0, 0%, 24%), inset 0 0 10px hsla(0,0%,0%,1), 0 5px 20px hsla(0,0%,0%,0.5), inset 0 0 15px hsla(0,0%,0%,.2);
}

.glowing:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 40px;
  background: linear-gradient(0deg, hsl(0, 0%, 0%), hsl(0, 0%, 41%));
  border-radius: 20px;
  box-shadow: 0 0 0 1px hsl(0, 0%, 13%);
  transform: scale(.98, .96);
  transition: .5s;
}

.glowing:checked:before {
  left: 40px;
}

.glowing:after {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: 70px;
  width: 4px;
  height: 4px;
  background: linear-gradient(0deg, hsl(0, 0%, 41%), hsl(0, 0%, 0%));
  border-radius: 50%;
  transition: .5s;
}

.glowing:checked:after {
  background: hsl(112, 100%, 50%);
  left: 110px;
  box-shadow: 0 0 5px hsl(112, 100%, 80%), 0 0 15px hsl(112, 100%, 80%);
} */